*{
  margin: 0;
}
body{
  padding-top: 75px;
}
.fixedHeader{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 8px -8px;
  transition: box-shadow 300ms ease-in-out 0s;
}
button.savePinsMenu {
  color: #fff;
  min-width: 150px;
  justify-content: space-between;
} 